In [ ]:
import pandas as pd

In [ ]:
path_sample_data = "/content/drive/MyDrive/KTU/KTU_Challenge/P160M132-data/1-sample_data.csv"
path_additional_data = "/content/drive/MyDrive/KTU/KTU_Challenge/P160M132-data/2-additional_data.csv"
path_additional_features = "/content/drive/MyDrive/KTU/KTU_Challenge/P160M132-data/3-additional_features.csv"

df_sample_data= pd.read_csv(path_sample_data)
df_additional_data= pd.read_csv(path_additional_data)
df_additional_features= pd.read_csv(path_additional_features)

In [ ]:
pdf_union = pd.concat([df_sample_data, df_additional_data])
pdf_merged = pdf_union.merge(df_additional_features, on="id", how="inner")

In [ ]:
pdf_merged["loan_purpose"].value_counts()

debt_consolidation      7868889
other                    920066
home_improvements        584493
business_loan            155856
buy_a_car                125140
medical_bills            111058
buy_house                 67762
take_a_trip               55982
major_purchase            35029
small_business            27701
moving                    14991
wedding                   11848
educational_expenses      10160
vacation                  10039
renewable_energy            985
UFVCU1VC                      1
Name: loan_purpose, dtype: int64

Matome, jog tarp 'loan_purpose' reikšmių yra neaiški **UFVCU1VC** reikšmė, kuri ir yra "Easter egg" šiame datasete. Ištrinsiu eilutę su šiuo datasetu, kad modelį galėtume treniruoti sėkmingai.

In [ ]:
pdf_merged = pdf_merged[~(pdf_merged["loan_purpose"]=="UFVCU1VC")]

In [ ]:
pdf_merged.to_csv("/content/drive/MyDrive/KTU/KTU_Challenge/train_data_clean.csv", index=False)